swagger: "2.0"
info:
  version: "2018-06-01T"
  title: "LoyaltyOne"
  description: "LoyaltyOne Assignment APIs"
host: "loyaltyone.wvillamar.com"
basePath: '/api'
schemes:
- "https"
paths:
  /entry:
    post:
      consumes:
        - application/json
      description: "Sample Payload: {\"username\":\"William\",\"city\":\"Toronto\",\"text\":\"some random text\"}"
      responses:
        200:
          description: "Adds a top level entry."
          schema:
            $ref: "#/definitions/entryadd"
  /entry/{id}/response:
    post:
      consumes:
        - application/json
      description: "Sample Payload: {\"username\":\"William\",\"city\":\"Toronto\",\"text\":\"some random text\"}"
      parameters:
      - name: id
        in: "path"
        required: true
        type: "string"
        description: "Entry ID for which a response is being submitted."
      responses:
        200:
          description: "Adds a response to an entry."
          schema:
            $ref: "#/definitions/entryadd"
  /entries:
    get:
      responses:
        200:
          description: "Returns all top level entries."
          schema:
            $ref: "#/definitions/entries"
  /entry/{id}/responses:
    get:
      parameters:
      - name: id
        in: "path"
        required: true
        type: "string"
        description: "Entry id to return all responses."
      responses:
        200:
          description: "Returns all responses for a particular entry."
          schema:
            $ref: "#/definitions/entries"
definitions:
  entries:
    type: object
    properties:
      results:
        type: array
        items:
          $ref: '#/definitions/entry'
  entry:
    type: object
    properties:
      id:
        type: "string"
      username:
        type: "string"
      city:
        type: "string"
      text:
        type: "string"
      parent_id:
        type: "string"
      createdAt:
        type: "string"
      updatedAt:
        type: "string"
  entryadd:
    type: object
    properties:
      status:
        type: "string"
      result:
        type: object
        items:
          $ref: '#/definitions/entry'
